/* configurações gerais */

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.container {
    max-width: 950px;
    margin: 0 auto;
    flex-wrap: wrap;
    align-items: center;
    display: flex;
}

.smal-pink {
    font-size: 0.75rem;
    color: #e2576a;
}

button {
    cursor: pointer;
}

input::placeholder {
    color: #e2576a;
    padding-left: 10px;
}


/* Nav */

#header {
    display: flex;
    max-width: 95%;
    margin: 0 auto;
    flex-wrap: wrap; 
    align-items: center;
    padding: 30px 0;
    justify-content: space-between;
}

#header div a {
    color: #e2576a;
    font-weight: bold;
    font-size: 1.5rem;    
}

nav ul {
	display: flex;
    flex-wrap: wrap;
}

nav a {
    text-decoration: none;
    color: #e2576a;
    margin-left: 20px;
	display: block;
}

nav a:hover {
    color: #f9556b;
}

[data-menu="button"] {
    display: none;
  }
  
  @media (max-width: 700px) {
    .js [data-menu="button"] {
      display: flex;
      background-color: #e2576a;
      border: none;
      padding: .5rem 1rem;
      border-radius: 4px;
      text-transform: uppercase;
      font-family: 'IBM Plex Mono', monospace;
      font-weight: bold;
      color: #fff;
      cursor: pointer;
      margin: 0 20px 10px 0;
      align-items: center;
      position: relative;
      z-index: 300;
    }
    
    .js [data-menu="button"]::before {
      margin-right: 4px;
      content: '';
      display: inline-block;
      height: 2px;
      width: 12px;
      background: #fff;
      box-shadow: 0 4px #fff, 0 -4px #fff;
      transition: transform .3s;
    }
  
    .js [data-menu="button"].active::before {
      transform: rotate(90deg);
    }
  
    .js [data-menu="list"] {
      display: none;
      position: absolute;
      background: white;;
      width: 160px;
      z-index: 200;
      top: 40px;
      right: 0;
      padding: 60px 0 20px 0;
      box-shadow: 2px 2px 2px 0 rgba(0,0,0,.2);
      border-radius: 10px;
    }
    .js [data-menu="list"].active {
      display: block;
      animation: show-right .3s forwards;
    }
  }


/* main */

.main-content div p:nth-child(3) {
    width: 50%;
}

h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    color: white;
}

h1 > span{
    color: #e2576a;
}

.main-content div p:nth-child(3) {
    margin-bottom: 30px;
    color: white;
}

main {
    background-image: url(../imagens/bg02.png); /* center center */
    background-size: cover;  
    background-color: #f3f6ff;
    padding: 200px 0;
    background-repeat: no-repeat;
} 

.main-content {
    align-items: center;
    position: relative;
    bottom: 70px;
}

.buton-pink {
    background-color: #e2576a;
    padding: 15px 30px;
    color: white;
    border-radius: 50px;
    margin-right: 10px;
}

.main-content div a:nth-child(odd) {
    background-color: #0f308f;
    padding: 15px 30px;
    color: white;
    border-radius: 50px; 
}

@media (max-width: 980px) {
    .main-content > div{
        margin-left: 30px;
    }
}


.great-desing-cont > img {
    border-radius: 0 20px 20px 0;
}


.great-desing-cont {
    max-width: 950px;
    display: flex;
    margin: 0 auto;
    border-radius: 20px;
    position: relative;
    bottom: 125px;
    justify-content: center;
    box-shadow: 0 10px 10px rgba(0,0,0, 0.2);
}

.great-desing-cont > div {
    margin: 0 auto;
    text-align: center;
    color: white;
    padding: 100px 120px;
    background-color: #a6eed8;
    border-radius: 20px 0 0 20px;
}

.great-desing-cont > img {
    max-width: 100%;
    margin: 0 auto;
}

.great-desing > div:nth-child(1) > div h2 {
    font-weight: 900;
    font-size: 2rem;
    margin: 5px 0;
}

.great-desing > div:nth-child(1) > div p:nth-child(1) {
    font-size: 0.75rem;
}

@media (max-width: 1000px) {
    .great-desing-cont {
        flex-direction: column;
        box-shadow: none;
    }

    .great-desing-cont > div {
        border-radius: 20px 20px 0 0;
        box-shadow: 0 10px 10px rgba(0,0,0, 0.2);
        max-width: 96%;
    }

    .great-desing-cont > img {
        border-radius: 0px 0 20px 20px;
        box-shadow: 0 10px 10px rgba(0,0,0, 0.2);
        max-width: 96%;
    }
}


/* section icons */

.great-desing div:nth-child(2) > div {
    width: 200px;
}

.great-desing div:nth-child(2) {
    justify-content: space-between;
    text-align: center;
    color: #a8a9ab;
    font-size: 0.96rem;
}

.great-desing h2 {
    color: #0f308f;
    margin: 15px 0;
}

.great-desing {
    margin-bottom: 100px;
}

/* Future */

.future {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #eff0f4;
    margin-bottom: 100px;
}

.future div:nth-child(2) {
    margin-left: 60px;
}

.future img {
    width: 100%;
    height: auto;
    display: block;
}

.future div {
    align-self: center;
}

.future > div > div {
    margin-top: 40px;
}

.future > div > div > a {
    box-shadow: 0 5px 10px rgba(226,87,106, 0.5);
}

.future > div > p:nth-child(3) {
    margin: 20px 0;
}


.future > div > h2 {
    color: #0f308f;
    font-size: 2rem;
}

.future > div > p:nth-child(3) {
    color: #a8a9ab;
}

@media (max-width: 1000px) { 
    .future {
        display: flex;
        flex-direction: column;
    }

    .future img {
        width: 100%;
        height: auto;
        display: block;
    }

    .future div:nth-child(2) {
        padding: 100px 0;
    }

}

/* seção app*/

.app {
    justify-content: space-evenly;
}

.app > div {
    align-items: center;
}

.app-content {
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin-bottom: 10px;
}

.app-content p:nth-child(1) {
    color: #0f308f;
    font-weight: bold;
}

.app-content p:nth-child(2) {
    color: #e2576a;
}

.app div h2 {
    font-size: 2rem;
    color: #0f308f;
    margin-bottom: 20px;
}

.app div h2 span {
    color: #e2576a;
}

/*seção com formulario */

.bg-touch {
    background-color: #f4f4f4;
}

.get-touch {
    flex-direction: column;
    padding-top: 100px;
}

.ideas-process {
    background-color:white;
    position: relative;
    top: 190px;
    border-radius: 20px;
    box-shadow: 0 10px 10px rgba(0,0,0, 0.2);
    justify-content: center;
    margin: 0 auto;
}

.get-touch > div:nth-child(1) {
    text-align: center;
    position: relative;
    top: 60px
}

.get-touch > div > h2 {
    font-size: 3rem;
    color: #e2576a;
}

.get-touch > div > p {
    color: #a8a9ab;
    margin: 20px 0;
}

.get-touch > div > form > input {
    border-radius: 20px;
    border: none;
    padding: 8px 0;
    width: 300px;
    box-shadow: inset 0 1px 5px rgba(0,0,0, 0.2);
    margin-left: 30px;
}

.get-touch > div > form > button {
    background-color: #e2576a;
    border: none;
    padding: 8px 30px;
    border-radius: 20px;
    color: white;
    position: relative;
    right: 30px;
}

.ideas-process > img {
    border-radius: 20px;
    max-width: 100%;
    margin: 0 auto;
}

.ideas-process > div {
    width: 40%;
    margin: 0 auto;
    color: #a8a9ab;
}

.get-touch > div > div > h2 {
    font-size: 2rem;
    color: #0f308f;
}

.get-touch > div > div > h2 > span {
    color: #e2576a;
}
 
.get-touch > div > div > p:nth-child(3) {
    margin-bottom: 20px;
}

.process {
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: #e2576a;
}

.process div p:first-child {
    font-size: 3rem;
    color: #0f308f;
}

@media (max-width: 1000px) {
    .ideas-process {
        max-width: 96%;
    }

    .ideas-process > div {
        padding: 35px 0;
        width: 90%;
    }
}
    
@media (max-width: 500px) {
    .get-touch > div > form > input {
        width: 250px;
    }
}

/* seção team */

.bg-team {
    padding-top: 250px;
    background-color: #eff0f4;
}

.team {
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
    padding-bottom: 100px;
}

.team > div {
    width: 200px;
    text-align: center;
    color:#a8a9ab;
}

.team > div > img {
    border-radius: 100px;
    margin: 30px 0;
}

.team > div > p:nth-child(3) {
    margin: 10px 0;
    color: #0f308f;
    font-weight: bold;
    font-size: 1.2rem;
}

/* brands */

.brands {
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 70px auto;
}

/* footer */

footer {
    background-color: #0f308f;
    font-size: 0.90rem;
    color: white;
    padding: 5  0px 0;
}

.footer {
    justify-content: space-between;
    align-items: flex-start;
    padding: 70px 0;
}

.footer > div {
    width: 200px;
}

.footer h2 {
    margin-bottom: 20px;
}

.footer > div:nth-child(1) > p {
    margin-bottom: 20px;
}

.social > img {
    border-radius: 50px;
}

.social > img:not(:first-child) {
    margin-left: 10px;
}

.footer li {
    display: flex;
	align-items: center;
    margin-bottom: 10px;
}

.footer li:nth-child(1)::before {
    content: url(../imagens/contact01.png);
    display: block;
    margin-right: 10px;
    width: 15px;
	height: 15px;
}

.footer li:nth-child(2)::before {
    content: url(../imagens/contact02.png);
    display: block;
    margin-right: 10px;
    width: 15px;
	height: 15px;
}

.footer li:nth-child(3)::before {
    content: url(../imagens/contact03.png);
    display: block;
    margin-right: 10px;
    width: 15px;
	height: 15px;
}

.footer li:nth-child(4)::before {
    content: url(../imagens/contact04.png);
    display: block;
    margin-right: 10px;
    width: 15px;
	height: 15px;
}

footer form {
    display: flex;
    margin-bottom: 10px;
}

.footer input {
    border-radius: 20px;
    border: none;
    padding: 5px 0;
    width: 250px;
}

footer button {
    background-color: #e2576a;
    border: none;
    border-radius: 50px;
    padding: 5px;
    position: relative;
    right: 20px;
}

footer button img {
    width: 15px;
    height: 15px;
    display: block;
}

